.navmenu-container {
  margin: 0;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #fff;
}

.navmenu-container, .navmenu, .logo, .navigation, ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navmenu-container {
  height: 50vh;
}

.navmenu {
  width: 75%;
  max-width: 1024px;
  border-radius: 4px;
  background-color: #279CEB;
}

.logo {
  width: 30%;
  min-width: 250px;
  margin: 0;
  justify-content: flex-start;
}

.navigation {
  width: 70%;
  margin: 0;
  justify-content: flex-end;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  padding: 18px;
  margin-right: 10px;
}

li:hover {
  background-color: #3AB0FF;
  cursor: pointer;
}

h1 {
  font-size: 140%;
  font-weight: 600;
  margin-left: 20px;
  letter-spacing: 2px;
}

@media only screen and (max-width: 950px) {
  .navmenu {
    flex-wrap: wrap;
  }
  .logo, .navigation, ul {
    width: 100%;
    justify-content: center;
  }
  .logo {
    padding: 15px;
    border-bottom: 2px solid #3AB0FF;
  }
  h1 {
    margin: 0px;
  }
}

@media only screen and (max-width: 600px) {
  ul, li {
    flex-wrap: wrap;
  }
  li {
    width: 100%;
    margin: 0px;
    border-bottom: 1px solid #1ba2fc;
  }
}

